<div id ="header" style ="color:blue">
	<h2>My Reviews</h2>
</div>
	<p><b>Image:</b></p>
</div>
<%= image_tag @user.photo.url(:small) %>
<p><b>username:</b><%= @user.username %></p>

<p><b>Email:</b><%= @user.email %></p><br><br><br>

